@media (max-width:1200px) {
    /* ---SECTION-MAIN--- */ 

    /* main_information */
    .inform-text p {
        line-height: 19.5px;
    }  
}


@media (max-width:992px) {

    /* ---SECTION-FIRST--- */

    .header-media a {
        width: 20px;
        display: block;
    }
    .header-media a img {
        width: 100%;
    }
    .header-media a:nth-child(1) img {
        width: 50%;
    }
    header ul li {
        margin: 5px;
    }
    .header-h3 {
        letter-spacing: normal;
    }
    ul .nav-option {
        font-size: 15px;
    }
    .form-size {
        width: 330px;
    }
    .control-input {
        width: 242px;
    }

    /* ---SECTION-MAIN--- */ 

    /* main_information */
    .inform-row {
        flex-direction: column;
        align-items: center;
    }
    .graph {
        width: 230px;
    }
    .graph img {
        width: 100%;
    }
    .inform-text {
        position: initial;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .inform-text a {
        padding-left: 0;
    }

    /* main_services */
    .services_item {
        width: 30%;
    }
    .services_item img {
        width: 100%;
    }

    /* ------FOOTER------ */

    footer li {
        margin: 0 10px;
    }
}

@media (max-width:768px) {
    /* ------FOOTER------ */

    footer .row {
        flex-direction: column;
    }
    .footer-item {
        width: 200px;
        padding-bottom: 14px;
    }
    .footer-media {
        padding-top: 10px;
    }
    .footer-item-nav {
        width: 100%;
    }
    .footer-item-nav p {
        text-align: center;
        padding-top: 30px;
    }
}

@media (max-width:576px) {

    /* ---SECTION-FIRST--- */

    header .row {
        flex-direction: column;
    }
    .header-logo {
        width: 100%;
        margin-bottom: 10px;
    }
    .header-h3 {
        letter-spacing: 1.5px;
    }
    header nav.navigation {
        width: 100%;
        margin-bottom: 10px;
    }
    .header-media {
        width: 30%;
    }
    header ul li {
        margin: 10px;
    }
    .form .row {
        justify-content: center;
    }
    .form-size {
        width: 290px;
    }
    .control-input {
        width: 206px;
    }

    /* ---SECTION-INFORMATION--- */ 

    /* main_information */
    .graph {
        width: 200px;
    }

    /* main_services */
    .main_services .row {
        flex-direction: column;
        align-items: center;
    }
    .services_item {
        width: 40%;
        margin-bottom: 30px;
    }
    .services_item {
        max-width: 140px;
    }
    .services_item p {
        font-size: 13px;
    }
}