body {
    font-family: 'Roboto', sans-serif;
}

/* -----SECTION-FIRST----- */
    
.section-first {
    min-height: 100vh;
    background: url(./../img/backgr-header.png) no-repeat 50%/cover;
}

/* header */

header {
    background-color: #000101a3;
    padding: 24px 0 36px;
}

.header-h3 {
    font-size: 17px;
    color: #f9f9f9;
    text-transform: uppercase;
    padding-top: 8px;
    letter-spacing: 1.5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul .nav-option {
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
}

ul .nav-option:hover {
    color: #0bc227;
}

/* form */

.form-size {
    max-width: 350px;
    padding: 48px 54px 30px;
    background: #000101a3;
    margin-top: 44px;
    text-align: center;
}

.form-size h4 {
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 48px;
    font-weight: 500;
}

.form .row {
    justify-content: flex-end;
}

.form-size h4::first-line {
    font-size: 20px;
}

form .control-input input {
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    outline: none;
    padding-bottom: 10px;
    margin-bottom: 26px;
    font-weight: 500;
}

form .control-input input::placeholder {
    color: #ffffff;
}

.control-input input:-webkit-autofill,
.control-input input:-webkit-autofill:hover, 
.control-input input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  padding-top: 5px;
}

.control-input {
    width: 252px;
}

.control-input button {
    width: 100%;
    background: #0bc227;
    color: #ffffff;
    font-size: 13px;
    height: 36px;
    border: none;
    font-weight: 500;
}

.control-input button:hover {
    background-color: #087518;
}

/* -----SECTION-MAIN----- */

/* main_information */
.main_information {
    background-color: #ffffff;
    padding: 58px 0 98px;
}

.main_information h2 {
    font-size: 33px;
    color: #020202;
    text-align: center;
    margin-bottom: 30px;
}

.graph {
    width: 386px;
    padding: 0;
}

.inform-text {
    position: relative;
    top: 10%;
    left: -39px;
    height: fit-content;
}

.inform-text p {
    font-size: 15px;
    color: #020202;
    font-weight: 500;
    line-height: 22px;
}

.inform-text a {
    color: #099b1f;
    padding-left: 50px;
    padding-top: 25px;
    display: inline-block;
}

/* main_services */

.main_services {
    background: url(./../img/background-main.png) no-repeat 50%/cover;
    padding: 28px 0 18px;
}

.main_services h2 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-bottom: 60px;
}

.main_services .row {
    justify-content: space-around;
}

.services_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.services_item p {
    font-size: 17px;
    color: white;
    padding-top: 18px;
}

/* ------SECTION-WHITE------ */
.section-white {
    background-color: #ffffff;
    height: 100px;
}

/* ------FOOTER------ */

footer {
    background: black;
    padding: 34px 0 36px;
}

footer .row {
    justify-content: space-between;
    align-items: center;
}

.footer-media {
    justify-content: space-around;
}

.footer-logo img {
    width: 100%;
}

.footer-media a {
    display: block;
    max-width: 26px;
}

.footer-media a:nth-child(1) {
    max-width: 12px;
}

.footer-media a img {
    width: 100%;
}

footer p {
    font-size: 10px;
    font-weight: 600;
    color: white;
    text-align: end;
    padding-top: 22px;
}